@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}


html{
    scroll-behavior: smooth;
  }
  
  p{
  
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
  
  }
  
  body {
    background-color: rgb(255, 254, 249);
    background-size: 350% 350%;
   
    height: 100vh;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
  }
  .customfooter {
    
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
  }


  /*Animation Title*/
.waviy {
  position: relative;
  
}


.waviy span {
  position: relative;
  display: inline-block;
  font: 'Source Serif Pro' ;
  font-size: 55px;
  font-weight: bolder;
  color: #000000;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.4s * var(--i))
}



@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.newClass { cursor: none; }

/*Other Page*/

.alignContentCenter{ align-items: center;}


#exprianceImg {
 
    border-radius: 20px;
    width: 750px;
    height: 500px;
    text-align: right;
  }
  
  .displayStyle{
    display:  none;
    animation: fade-bottom  1s ease;
  }
  
  .titlecolor{
    background-color: rgb(255, 254, 249);
  }
  
  .gapPG2{
  
    gap: 200px;
  }
  .smallgapPG2{
  
    gap: 30px;
  }
  .gapPG2Vstack{
  
    gap: 20px;
    padding-bottom: 100px;
    
  }
  
  .listItemPG2{
  
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    width: 600px;
    text-align: left;
  }
  
  #UbuttonBG{
  
    display: block;
    border-radius: 10px;
    background-color: rgb(241, 234, 255);
    max-width: 200px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Serif Pro', serif;
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
    left: 30%;
  
  }
  
  .center{
  
    justify-content: center;
  
  }
  
  /* EDucation HTML Page */

.bgImage {

    background-image: url("/Education/Assets/Tri_C.jpg");
 }
 .bgImage2 {
 
   background-image: url("/Education/Assets/OSU.jpg");
 }

 .bgImage3 {
 
    background-image: url("/Education/Assets/WHS.jpg");
  }
 
 .blur-bg {
  /*  background-image: url("/Education/Assets/Tri_C.jpg"); */
  
  
   display: flex;
   justify-content: center;
   align-items: center;
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   z-index: 1;
 }
 
 .blur-bg::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background:
   linear-gradient(to bottom, #18181800 0%,   rgb(255, 254, 249) 100%);
  
 }
  
 .vstack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .hstack{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }
 
 
 
 .line2 {
   border-bottom: 1px solid  rgb(0, 0, 0);
   width: 500px;
 }
 
 
 .smallgapPG2{gap: 10px;}
 
 .gap40px{ gap: 40px; }
 .gap60px{ gap: 60px; }
 
 
 .imageIcon{
   border-radius: 20px;
   width: 400px;
   height: 260px;
   text-align: right;
   background: inherit;
  
 
   filter: brightness(90%);
 }
 
 
 .titlePos{
 
   margin-top: 350px;
   top: 100px;
 }
 
 #customButton{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color:rgb(255, 254, 249);
   box-shadow: 1px 1px 10px rgba(116, 116, 116, 0.5);
   color:  rgb(7, 7, 7);
   font-size: 20px;
   border: none;
   left: 300px;
   top: 50px;
   font-size: 30px;
   cursor: none;
 }
 
 #customButton:hover{
   background-color:  rgb(131, 131, 131);;
 
 }
 
 #courses {
 
   align-items: start;
 
 }
 
 .material-symbols-rounded {
   font-variation-settings:
   'FILL' 0,
   'wght' 700,
   'GRAD' 200,
   'opsz' 48
 }
 

 
 .listItemEduPG{
 
   
   font-size: 16px;
   width: 600px;
   text-align: left;
  
 
 }
 
 
 
 .listItemCourses{
 
   
   font-size: 16px;
   width: 170px;
   text-align: center;
   color: rgb(109, 155, 255);
   border:  2px solid  rgb(109, 155, 255);
   padding: 7px;
   border-radius: 10px;
 }
 
 .achievements{
 
   font-size: 16px;
   width: 600px;
   text-align: center;
  
   border:  3px solid rgb(217, 209, 255);
   padding: 7px;
   border-radius: 10px;
 
 }
 
 .clr1{
   color:  rgb(217, 209, 255);
 }
 .clr2{
   color:  rgb(255, 207, 230);
 }
 .clr3{
   color: rgb(255, 254, 249);
 }
 .clr4{
   color: rgb(255, 187, 187);
 }
 .clr5{
   color: rgb(0, 0, 0);
 }
 
 .contentPosPGEdu{
 margin-top: 100px;
padding: 150px;
 }
 
 .customSUbSec{font-size: 20px;}
 
 a {
 
   color:  rgb(95, 95, 95);
   
   cursor: none;
 
 }

 a:hover{
    color:  rgb(0, 0, 0);
 }
 

/* Time Line Code */
.pageOffset{

    top: 150px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: auto;
    margin: 0 auto;
   
    
    
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.61);
    top: 0;
    bottom: 0;
    
    
    border-radius: 8px;
  }
  
  /* Container around content */
  .timecontainer {
    padding: 30px 40px;
    position: relative;
    background-color: inherit;
   
  }
  
  /* The circles on the timeline */
  .timecontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
   
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
 
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -6px;
  }
  
  /* The actual content */

  .timeElement{
  
    padding: 20px;
    
    
    border-radius: 16px;
    /* box-shadow: 1px 1px 10px rgba(116, 116, 116, 0.5); */
    align-items: center;
    
  }
  
  #timeImg{
    width: 160px;
    height: 180px;
    border-radius: 16px;
    top: -10px;
    object-fit: cover;
    /* filter: brightness(70%); */
  }
  
  .titleTime{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
  
  .captionTime{
    font-size: 16px;
    text-align: center;
  }
  /* TO correct the position of the element */
  .timeElementPos{
    top: -10px;
  }
  
  /* Animation */
  
  
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  
.outerPages{

    display: none;
    animation: fade-bottom  1s ease;
  }
  