@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}


a.active,a.hover{
  background: #1b9bff;
  transition: .5s;
}

html{scroll-behavior: smooth;}

p{font-size: 3vw;}

.customfooter {font-size: 15px;}

h1{
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  color: rgb(0, 0, 0);
  font: 900 normal 3.5em 'Source Serif Pro';
  font-weight: bold;
}

body {
  background-color: rgb(255, 254, 249);
  height: 100vh;
  /* font-weight: 30px; */
}

/*Animation*/

.section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

/*Animation Title*/
.waviy { position: relative;}


.waviy span {
  position: relative;
  display: inline-block;
  font: 'Source Serif Pro' ;
  font-size: 3vw;
  font-weight: bolder;
  color: #000000;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.4s * var(--i))
}



@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.newClass {cursor: none;}

/* Page 1 */


/*ANimation word*/
.word {

  color: rgb(143, 143, 143);
  font: 900 normal 3.5em 'sans-serif';
  font-weight: bold;
  
  
}


#myimage {
  height: auto;
  max-width: 53%;
 
}


.centerPage1 {

    
/*   width:90%;
  height: 90%; */
  background-color: rgb(226, 226, 226);
  box-shadow: 7px 7px 10px rgba(116, 116, 116, 0.5);
  align-content: center;
  animation: fade-in 1s ease-out;
  margin: 1vw;
/*   z-index: 0; */
}


.icons{

  width: 5vw;
  height: 5vw;
  padding: 1.4vw; 
  background-color: rgb(255, 254, 249);
  border-radius: 15px;

 
}

#infoBox{padding : 1.2vw;}

.line {
  border-bottom: 1px solid black;
  width: 31vw;
  left: -10px;
  top: -30px;
  
}
.biggerline2 {
  border-bottom: 1px solid black;
 
}
.biglineOffset{
  top: 4vw;
}
.biggerline {
  border-bottom: 1px solid black;
 width: 38vw;
}


.listvstack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 40px;
  background-color: rgb(255, 254, 249);
  padding: 60px;
 
  border-radius: 20px;
  
}

.listItem{

  font-family: 'Source Serif Pro', serif;
  font-size: 1.2vw;
  
  text-align: center;
}


.vstack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.hstack{

  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.gapIcon-Info{
  gap: 50px;
  padding-bottom: 20px;
}


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

#buttonBG{

  border-radius: 10px;
  background-color: rgb(241, 234, 255);
  max-width: 200px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Source Serif Pro', serif;
  font-size: 19px;
  text-align: center;
  left: 30%;

}

/*Other Page*/




#exprianceImg {
 
  border-radius: 20px;
  width: 40vw;
  height: 25vw;
  text-align: right;
}

.displayStyle{
  display:  none;
  animation: fade-bottom  1s ease;
}

.titlecolor{
  background-color: rgb(255, 254, 249);
}

.gapPG2{

  gap: 200px;
}
.smallgapPG2{

  gap: 30px;
}
.gapPG2Vstack{

  gap: 20px;
  padding-bottom: 100px;
  
}

.listItemPG2{

  font-family: 'Source Serif Pro', serif;
  font-size: 1.1vw;
   width: 36vw;
  text-align: center;
  
  
}

#UbuttonBG{

  display: block;
  border-radius: 10px;
  background-color: rgb(241, 234, 255);
  
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1vw;
  text-align: center;
  padding: 0.8vw;
  padding-inline: 1em;
  

}

.center {align-items: center;}



/* next Pages */


.pageDisplay{
  display: flex;
  animation: fade-bottom  1s ease;
}

.spacer {
  height: 10vh;
  background-color: #383838;
  color: #fff;
  text-align: center;
  padding: 10px;
}



.smallgapPG2{ gap: 10px;}

#customButton{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:rgb(255, 254, 249);
  box-shadow: 1px 1px 10px rgba(116, 116, 116, 0.5);
  color:  rgb(7, 7, 7);
  font-size: 20px;
  border: none;
  left: 300px;
  top: 50px;
  font-size: 30px;
  cursor: none;
}

#customButton:hover{
  background-color:  rgb(131, 131, 131);;

}



.gap40px{ gap: 40px; }
.gap60px{ gap: 60px; }



.clr5{ color: rgb(0, 0, 0);}



a {
  color:  rgb(255, 254, 249);
  cursor: none;
}





/* Animation */


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


 /* Skill Chart */
 #container {
  width: 40vw;
  height: 40vw;
  margin: 0;
  padding: 0;
  background-color:  rgba(116, 116, 116, 0.5);
  left: -20%;
  display: flex;
  
}


/* Timeline 3 */
.cd-container {
  width: 100%;
  
  margin: 0 auto;
 
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Timeline components 

-------------------------------- */
li {
  background: #40484D;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255,255,255,0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}

#cd-timeline {
  position: relative;
  padding: 1em 0;
  margin-top: 1em;
  margin-bottom: 1em;
  
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #000000;
  border-radius: 10px;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 1em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 1em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #673AB7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
  
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  border-radius: 2px;
  padding: 0.7em;
  box-shadow: 1px 1px 10px rgba(116, 116, 116, 0.5);
  border-radius: 20px;
}

.cd-timeline-content .timeline-content-info {
  background: #cdcdcd; 
  
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08); 
  border-radius: 2px;
  

}


.timeline-content-info-title, .timeline-content-info-date {  
  width: calc(50% - 2px);
  display: inline-block;
}
@media (max-width: 500px) {
  .timeline-content-info-title, .timeline-content-info-date {  
    display: block;
    width:100%;
  } 
}

.cd-timeline-content .content-skills {
  font-size: 12px;
  padding:0;
  margin-bottom: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(0, 0, 0, 0.9);
  
  
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
 .cd-date {
  display: inline-block;
}


.cd-timeline-content::before {
  content: '';
  position: absolute;
 /*  top: 10px; */
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
  
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 0.4em;
    padding-inline: 1em;
    width: 36%;
    margin: 0 5%
    
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

#timelineImage{
  border-radius: 30px;
  width: 37%;
  
  padding: 15px;
  object-fit: cover;
}
#timelineLongImage{
  border-radius: 30px;
  width: 20%;

  padding: 15px;
  object-fit: cover;
}

table {
  border-collapse: collapse; 
  height: 30vw;
  margin-top: 6vw;
  
}
table tr td {
  border: 1px solid gray;
  padding: 10px;
}

.tablePos{

 left: 80%;
  top: -100%; 

}