@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}


a.active,a.hover{
  background: #1b9bff;
  transition: .5s;
}

html{
  scroll-behavior: smooth;
}

p{

  font-family: 'Source Serif Pro', serif;
  font-size: 30px;

}

.customfooter {
  
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
}

h1{
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  color: rgb(0, 0, 0);
  font: 900 normal 3.5em 'Source Serif Pro';
  font-weight: bold;
}

body {
  background-color: rgb(255, 254, 249);
  background-size: 350% 350%;
 
  height: 100vh;
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
}

/*Animation*/

.section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

/*Animation Title*/
.waviy {
  position: relative;
  
}


.waviy span {
  position: relative;
  display: inline-block;
  font: 'Source Serif Pro' ;
  font-size: 55px;
  font-weight: bolder;
  color: #000000;
  text-transform: uppercase;
  animation: flip 4s infinite;
  animation-delay: calc(.4s * var(--i))
}



@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.newClass {
  cursor: none;
}

/* Page 1 */


/*ANimation word*/
.word {

  color: rgb(143, 143, 143);
  font: 900 normal 3.5em 'sans-serif';
  font-weight: bold;
  
  
}



#backgroundImage {

  position: absolute;
  top: 0;
  left: 0;
}

#myimage {
  height: auto;
  max-width: 51.3%;
  position: absolute;
 
  left: 0;
}


.centerPage1 {

    
  width:90%;
  height: 90%;
  background-color: rgb(226, 226, 226);
  box-shadow: 7px 7px 10px rgba(116, 116, 116, 0.5);
 
  
  
  align-content: center;
  animation: fade-in 1s ease-out;
  z-index: 0;
}


.icons{

  width: 80px;
  height: 80px;
   padding: 22px; 
  background-color: rgb(255, 254, 249);
  border-radius: 15px;

 
}


.line {
  border-bottom: 1px solid black;
  width: 500px;
  left: -10px;
  top: -30px;
  
}
.biggerline {
  border-bottom: 1px solid black;
  width: 650px;
  left: -10px;
  top: -30px;
  
}
.biglineOffset{
  top: 20px;
}

.listItemPos{
  position: absolute;
  top: 0;
  left: 950px;
  padding-top: 30px;
 
}

.listvstack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 40px;
  background-color: rgb(255, 254, 249);
  padding: 60px;
 
  border-radius: 20px;
  
}

.listItem{

  font-family: 'Source Serif Pro', serif;
  font-size: 22px;
  width: 500px;
  text-align: left;
}


.vstack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.hstack{

  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.gapIcon-Info{
  gap: 50px;
  padding-bottom: 20px;
}


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

#buttonBG{

  border-radius: 10px;
  background-color: rgb(241, 234, 255);
  max-width: 200px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Source Serif Pro', serif;
  font-size: 19px;
  text-align: center;
  left: 30%;

}

/*Other Page*/




#exprianceImg {
 
  border-radius: 20px;
  width: 750px;
  height: 500px;
  text-align: right;
}

.displayStyle{
  display:  none;
  animation: fade-bottom  1s ease;
}

.titlecolor{
  background-color: rgb(255, 254, 249);
}

.gapPG2{

  gap: 200px;
}
.smallgapPG2{

  gap: 30px;
}
.gapPG2Vstack{

  gap: 20px;
  padding-bottom: 100px;
  
}

.listItemPG2{

  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  width: 600px;
  text-align: left;
}

#UbuttonBG{

  display: block;
  border-radius: 10px;
  background-color: rgb(241, 234, 255);
  max-width: 200px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Source Serif Pro', serif;
  font-size: 19px;
  text-align: center;
  padding-top: 10px;
  left: 30%;

}

.center{

  justify-content: center;

}



/* next Pages */
.bg1 {
  background-color: #ccc;
}
.bg2 {
  background-color: rgb(255, 254, 249);
  
}

.pageDisplay{
  display: flex;
  animation: fade-bottom  1s ease;
}

.spacer {
  height: 10vh;
  background-color: #383838;
  color: #fff;
  text-align: center;
  padding: 10px;
}



.smallgapPG2{

  gap: 10px;
}

#customButton{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:rgb(255, 254, 249);
  box-shadow: 1px 1px 10px rgba(116, 116, 116, 0.5);
  color:  rgb(7, 7, 7);
  font-size: 20px;
  border: none;
  left: 300px;
  top: 50px;
  font-size: 30px;
  cursor: none;
}

#customButton:hover{
  background-color:  rgb(131, 131, 131);;

}



.gap40px{ gap: 40px; }
.gap60px{ gap: 60px; }



.clr5{
  color: rgb(0, 0, 0);
}



a {

  color:  rgb(255, 254, 249);
  cursor: none;

}


/* Time Line Code */
.pageOffset{

  top: 150px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: auto;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  
  
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgba(0, 0, 0, 0.61);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 8px;
}

/* Container around content */
.timecontainer {
  padding: 30px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -220px;
  
}

.left::after {
  left: 566px;
}


/* Place the container to the right */
.right {
 
  left: 50%;
}



/* Fix the circle for containers on the right side */
.right::after {
  left: -6px;
}

/* The actual content */
.timecontent {
  padding: 20px 30px;
  background-color: rgb(0, 0, 0);
  position: relative;
  border-radius: 6px;
}

.timeElement{

  padding: 20px;
  height: 140px;
  width: 500px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px rgba(116, 116, 116, 0.5);
  align-items: center;
  
}

#timeImg{
  width: 140px;
  height: 120px;
  border-radius: 16px;
  top: -10px;
  object-fit: cover;
  /* filter: brightness(70%); */
}

.titleTime{
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.captionTime{
  font-size: 16px;
  text-align: center;
}
/* TO correct the position of the element */
.timeElementPos{
  top: -10px;
}

/* Animation */


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


 /* Skill Chart */
 #container {
  width: 600px;
  height: 600px;
  margin: 0;
  padding: 0;
  background-color:  rgba(116, 116, 116, 0.5);
  
  display: flex;
  
}

